.gallery {
  display: flex;
  gap: 2%;
}
.child {
  background-image: url(neo-matrix-4.jpg);
  width: 10%;
  height: 100vh;
  border-radius: 100px;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.view {
  width: 100%;
}
